.about-us{
    min-height: 50vh;
    background-image: url('../imgs/aboutUs.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap:4rem ;
    align-items: center;
    padding: 4rem 2rem;
    font-family: 'Montserrat';

}

.about-us h1{
    color: #1A8132;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    
    
}

.about-us p{
    color: white;
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 800px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin: 0;
}